.main {
    background-color: chocolate;
 padding-top: 2px; 
}

 h2{

    display: flex;     
    padding-top: 7px;  
   padding-top: 20px; 
   padding-left: 10px;
}

 .list ul{ 
    display: flex;
    align-items: center;
    flex-direction: row;      
    justify-content: flex-end; 
    gap: 50px;
    padding-bottom: 23px;
    padding-right: 20px;
    text-decoration-style: none;
    list-style: none;
} 

.list a{
 text-decoration: none; 
}

